body,
html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  flex-direction: column;
}

.skip-to-content {
  position: fixed;
  padding: 15px;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  top: -200px;
  z-index: 100;
}

.skip-to-content:focus {
  top: auto;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #dadada;
  border-top-color: #db0000;
  z-index: 99;
  animation: spin 1s linear infinite;
}
/*
    App Bar
 */

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  padding: 6px;
}

.app-bar .app-bar__menu button {
  font-size: 32px;
  width: 44px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  padding-top: 4px;
  align-items: center;
  font-family: "Timmana", sans-serif;
}

.app-bar .app-bar__brand h1 {
  color: #132b36;
  text-transform: uppercase;
  font-size: 26px;
  user-select: none;
  padding-top: 5px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 70px;
  left: -180px;
  width: 150px;
  padding: 8px;
  transition: all 0.3s;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #132b36;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 1.3em;
  margin-bottom: 5px;
  width: 100%;
}

#hamburgerButton {
  color: #132b36;
}

/* 
  Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
    Main Content
 */

main {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  justify-content: center;
  background: #000000;
  background-image: url("/images/heros/hero-image_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.548);
}

.hero__inner {
  align-self: center;
  text-align: center;
  max-width: 60%;
  position: absolute;
  color: #ffffff;
  z-index: 2;
}

.hero__title {
  font-weight: 500;
  font-size: 32px;
}

.hero__tagline {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.content {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  margin-top: 28px;
}

.content .content__heading {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

/*
  Restaurants
*/

resto-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
    Restaurant list
  */

.restaurant-item {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__thumbnail {
  width: 100%;
  min-height: 220px;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item .movie-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  padding: 15px 0;
  color: #db0000;
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.restaurant-item__content .home__marker {
  color: #000000;
}
/* 
  Restaurant Detail
*/

detail-component {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
}

detail-component article {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.detail__thumbnail {
  display: block;
  width: 100%;
  object-fit: cover;
}

.detail__content {
  width: 80%;
  margin: 0 auto;
}

.detail__title,
.consumer__review {
  color: #222121;
  margin-top: 14px;
  margin-bottom: 3px;
}

.detail-category__container {
  display: block;
  margin-bottom: 8px;
}

.detail__category,
.review__date {
  color: #575454;
  font-size: 12px;
}

.detail__description {
  color: #000000;
  font-size: 30px;
  font-size: 14px;
}

.detail__location {
  font-size: 14px;
  color: #db0000;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

detail-component aside {
  width: 100%;
  margin: 0 auto;
}

.detail__menu {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.menu-title__container {
  padding: 13px 0;
}

.fa-pizza-slice,
.fa-coffee {
  color: #db0000;
}
.menu__title {
  font-size: 16px;
  color: #db0000;
  display: inline;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  grid-row-gap: 10px;
}

.menu__item {
  list-style: none;
  font-size: 14px;
  color: #575454;
}

.fa-map-marker-alt {
  color: #db0000;
}

.menu__rating {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  display: inline;
}

.menu__rating span {
  font-weight: bold;
  color: #222121;
}

.fa-star {
  color: #dbf20a;
  font-size: 20px;
}

.review__content {
  width: 80%;
  margin: 0 auto;
}

.review__name {
  margin-top: 8px;
}

.review__heading {
  margin-top: 15px;
  color: #db0000;
}
/* 
Favorite Restaurant
*/

empty-favorite {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.content-favorite__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.empty-favorite-tag p {
  color: #222121;
  font-size: 24px;
}

/*
  Footer
*/

footer {
  text-align: center;
  margin-top: 8px;
  padding: 18px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p span {
  color: #db0000;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
